<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <meta charset="UTF-8">
    <title>Book Face</title>
</head>

<body>
    <div id="data-data">

    <h2 class="text-center my-4">Here the representation of the queies to see the product in MELI</h2><hr>
    <div class="container-fluid">
        <div class="row" id="all-info">
             <h1 class="text-center">Loading...</h1>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    </div>
    <script>
        function templateCreate(data){
            return data.map(([link,items])=>(`
            <div class="col-md-6 border">
            <h3>${link}</h3>
            <table id="${link}" class="display">
                <thead>
                    <tr>
                        <th>Price </th>
                        <th>Title</th>
                        <th>Date</th>
                        <td style="display:none">Order</td>
                    </tr>
                </thead>
                <tbody>
                    ${items.map(({price,date,title,dateorder})=>(`

                    <tr>
                        <td>${price}</td>
                        <td>${title}</td>
                        <td>${date}</td>
                        <td style="display:none">${dateorder}</td>
                    </tr>
                    `)).join('')}
                </tbody>
            </table>
            </div>
            `)).join('');
        }
        function applyDatatable(){
            Array.from(document.querySelector("#all-info").children).forEach((e)=>{
               console.log()
                $(`#${e.firstElementChild.nextElementSibling.id}`).DataTable({
                 "order":  [  [ 0, "asc", ], [ 3, "desc" ] ],
                 "pageLength": 10
                });
            })
        }
        async function refreshData(){
            const response = await fetch('/scrapper-json');
            const data = await response.json();
            document.getElementById('all-info').innerHTML = templateCreate(data)  || "Opps no hay nada ahora";
            applyDatatable();
        }
        $(document).ready( function () {
            refreshData();
            setInterval(refreshData, 5000);

        });

    </script>
</body>
</html>